name: Build

on: [push, pull_request]

jobs:
  Build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
        - { name: Windows, os: windows-latest }
        - { name: Linux-x86_64, os: ubuntu-24.04, flags: -GNinja }
        - { name: Linux-arm64, os: ubuntu-24.04-arm, flags: -GNinja }
        - { name: MacOS-arm, os: macos-latest }
        - { name: MacOS-intel, os: macos-13 }
    steps:
    - name: Setup Linux dependencies
      if: startsWith(runner.os, 'Linux')
      run: |
        sudo apt update -q
        sudo apt install -y cmake ninja-build libgl1-mesa-dev libglu1-mesa-dev
    - name: Get sdl12-compat sources
      uses: actions/checkout@v4
    - name: Get SDL2 headers
      uses: actions/checkout@v4
      with:
        repository: libsdl-org/SDL
        ref: SDL2
        path: SDL2
    - name: Configure CMake
      run: cmake -DSDL2_INCLUDE_DIR="${{ github.workspace }}/SDL2/include" -B build ${{ matrix.platform.flags }}
    - name: Build
      run: cmake --build build/

